# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc


ci-cd.rst

# Distribution / packaging
.Python
env/
venv/
build/
develop-eggs/
dist/
downloads/
project_notes/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg




# Unit test / coverage reports
htmlcov/
.tox/
.coverage*
.cache
nosetests.xml
coverage.xml
coverage
junitxml_report


learning.todo.rst
testing.py
testingTutorials.rst
todo.py


# Django stuff:
*.log

# Sphinx documentation
docs/_build/
*/docs/_build/

# IDEs
.vscode/


# Ignore files that contain secrets that should not be on git



# Don't track uploads in git
*media*

# env files store config stuff
.env*
env.sh




# Node modules, from front-end submodule
node_modules/
EGG-INFO/*


#celery
celerybeat-schedule
celerybeat.pid



# Ignore venv
venv/*

